.header {
    text-align: center;
    padding-top: 2rem;
    color: whitesmoke;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
}

.rounds{
    display: grid;
    text-align: center;
    margin-left: 370px;
    font-weight: bold;
    color: whitesmoke;
    grid-template-columns: 3fr 3fr 3fr;
}

.round1{
    background-color: darkblue;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.round2{
    background-color: darkblue;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.round3{
    background-color: brown;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}


@media (max-width: 1300px) {
    .rounds{
        margin-left: 250px;
    }
}


@media (max-width: 1000px) {
    .rounds{
        margin-left: 150px;
    }
}

@media (max-width: 830px) {
    .rounds{
        margin-left: 100px;
    }
}

@media (max-width: 600px) {
    .rounds{
        margin-left: 80px;
    }
}